@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="h1, display-1">Welcome Page</h1>
    <p>Manage my <a asp-controller="Course" >Courses</a> or <a href="#">add a new course</a>.</p>
</div>
