@model Course;

<div class="container-fluid">
    <h2>Add New Course</h2>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Name">Course Name</label><br />
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Instructor">Instructor</label><br />
            <input asp-for="Instructor" class="form-control" />
            <span asp-validation-for="Instructor" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StartDate">Start Date</label><br />
            <input asp-for="StartDate" type="date" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RoomNumber">Room Number</label><br />
            <input asp-for="RoomNumber" class="form-control" pattern="\d[A-Z]\d{2}" title="Room number must be in the format: a single digit, a single capital letter, and 2 digits, e.g. 3G15, 1C07" />
            <span asp-validation-for="RoomNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Add Course" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>